<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="static/css/app.css">
  <title>Spaceshuttle back to earth!</title>
</head>
<body>
  <br>
  <br>
  <br>
  {% block bodycontent %}
  <p>empty</p>
  {% endblock %}

  <div id="navbar">
    <ul list-style-type="none">
      <li><button id="restartButton" font-family="sans-serif">Restart?</button></li>
      <li><button id="button">Heeeeelp mee!</button></li>
    </ul>
  </div>

  <script>
  function helpPrompt()
  {
    window.alert("Sorry dude, but there simply is no help. If you can't even figure out this game, then I don't see you coming far in life. But no worries - take a deep breath, have a coffee and maybe try to come back later!");
  }
  function restart(){
    window.location.href="http://127.0.0.1:5000";
  }
  document.getElementById('button').addEventListener('click', helpPrompt, false);
    document.getElementById('restartButton').addEventListener('click', restart, false);
  </script>

  {% block comments %}


  {% endblock %}
</body>
</html>
