{% extends "layout.html" %}
{% block bodycontent %}

<main id="Game">
<script>
var input1 = "";
var input2 = "";
var input3 = "";
function progess_bar() {
  var fraction = 0;
  for (var k = 0; k < 3; k++) { if (document.forms[0].elements[k+1].value != '') fraction++; }
  document.getElementById('progress').value = fraction;
    }
function saveValues(){
  input1 = document.getElementById("in1").innerHTML;
  input2 = document.getElementById("in2").innerHTML;
  input3 = document.getElementById("in3").innerHTML;
}
  document.getElementById("submit1").addEventListener('click', saveValues, false);
</script>

{% if scene %}

  <h1>{{ scene.title }} </h1>
  <pre>{{ scene.description }}</pre>
  <img id="storyImg" src={{ scene.img }}></img>

  {% if scene.urlname == "death" %}
    <p><a href="/">Back to space and start all over?</a></p>

  {% elif scene.urlname == "space_room" %}
  <form id="formular" action="/game" method="POST">
    <h1>Back to earth in 1...2...3...</h1>
    <label>What's your favorite beer? <br><input id="in1" type="text" placeholder="Astra" onchange="progess_bar()"></label><br>
    <label>If you had the chance to have dinner with ANYONE... Who would it be? <br><input id="in2" type="text" placeholder="Alex" onchange="progess_bar()"></label><br>
    <label>Why do you even want to go back to earth? <br><input id="in3" type="text" placeholder="See Question #1 ;)" onchange="progess_bar()"></label><br>
    <label>Progress: <progress id="progress" value="0" max="3"></progress></label><br>
    <input id="submit1" class="clear" type="SUBMIT" name="userinput" value="Submit">
  </form>

  {% elif scene.m_choice == 1 %}
  <p>
    <h2>What's your plan?</h2>
    <form id="radio" action="/game" method="POST" >
      {% for i in scene.paths %}
          <input type="radio" name="userinput" value="{{ i }}">
          {{ i }} <br>
      {% endfor %}
      <br>
      <input class="clear" type="SUBMIT" value="Submit">
    </form>
  </p>
  {% elif scene.m_choice == 0 %}
    <h2>What do you say?</h2>
    <p>
      <form  id="text" action="/game" method="POST" >
        <input type="text" name="userinput" >
        <input  type="SUBMIT" value="Submit" >
      </form>
    </p>
  {% else %}
    {% endif %}

{% else %}
  <p><a href="/start">Start at the beginning.</a></p>
{% endif %}

    </main>
    {% endblock %}
